@import url('https://fonts.googleapis.com/css?family=Dosis');

  *{
  margin:0;
  padding:0;
}

body {
  background-color: #ffff80;
  background-image: url('https://raw.githubusercontent.com/notdeana/notdeana.github.io/master/rY6j2n.gif');
  background-size: cover;
  background-repeat: no-repeat;

}

#animation {
  width:100vw;
  height:100vh;
  border: none;
  position: fixed;
  z-index: -999;
}

.links{
  float: left;
  font-size: 25pt;
  list-style-type: none;
  margin-right: 0 auto;
  text-align: center;
  position: absolute;
  left:330px;
  top:290px;
}

.links a {
    color: #ff6666;
    background: #ffff80;
    padding: 0px;
}

h1 {
   font-size:50pt;
 }
 h2 {
   font-size:35pt;
 }
 h3 {
   font-size:20pt;
}
